@main("Play Movies") {

<script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

<div class="panel panel-default">
    <div class="panel-body">
        <h1>@search()</h1>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Results</div>
    <!-- name: String, year: Int, rating: Rating, service: String -->
    <table id="result-table" class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Service</th>
        </tr>
        </thead>
        <tbody id="result-body">

        </tbody>
    </table>
</div>
}
